<p>user-list works!</p>


<div class="row">
    <!-- @for (user of userService.userS(); track user ) { -->
 
    <div *ngFor="let user of userService.userS()" class="col-md-2">
        <a routerLink="/user/detail" routerLinkActive="active" class="nav-link">
            {{user.Cognome}} - {{user.Username}}</a>
        <!-- <app-member-card [user]="user"></app-member-card> -->
    </div>
 
    <div>
        utente: {{ userService.userS()[0].Cognome }} ... <br>
        Total Users: {{ userService.userS().length }}
    </div>
</div>