<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
        <div class="container">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a routerLink="/Commesse" routerLinkActive="active" class="nav-link">Commesse</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/Clienti" routerLinkActive="active" class="nav-link">Clienti</a>
                </li>
            </ul>
        </div>
    </nav>
    
</div>