
@if (utente){
<div class="row">
    <div class="col-3">

    </div>
    <div class="col-9">
        <form id="editForm" #editForm="ngForm" (ngSubmit)="updateMember()">
            <div class="d-flex align-item-center">
                <label>Nome:</label>
                <input type="text" [(ngModel)]="utente.nome" class="form-control mx-2" name="nome">
                <label>Cognome:</label>
                <input type="text" [(ngModel)]="utente.cognome" class="form-control mx-2" name="cognome">
            </div>
            <h4 class="mt-2">Description</h4>
            <input type="text" [(ngModel)]="utente.description" class="form-control mx-2" name="description">
        </form>
    </div>
</div>
}   @else {
<div class="row">
    <div class="col-12">
        <h4>Utente non trovato</h4>
    </div>
</div>
}